CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.swo
*.swn
*.swp
Debug/*
tags
*.o
*.so
*.a
*.cmake
*.tcl
build/*
/.vs
/.vscode
junk
bin
.venv-docs/
game-controller/*build*
_site/
gdbforge.log

game-controller/lua.junk/
game/effects/lua.junk/
game/lua-5.2.4/
game/lua-5.4.6/src/lua
game/lua-5.4.6/src/luac
